<footer>
  <div>
    <h2>{{ metadata.footer }}</h2>
    
    <section>
      <a href="{{ metadata.url }}/feed.xml">
        {{ 'assets/logo/rss.min.svg' | svg | safe }}
        <span>RSS</span>
      </a>
      <a href="{{ metadata.telegram_channel }}">
        {{ 'assets/logo/telegram.min.svg' | svg | safe }}
        <span>Telegram Channel</span>
      </a>
    </section>
    
    <p>© {{ metadata.title }} {{ year }}</p>
  </div>
</footer>