{% set js %}
  {% if page.url == '/all/' %}
    {{ "taglist.js" | js | safe }}
  {% endif %}
  {% if (page.filePathStem | startsWith('/posts/')) %}
    {{ "toc.js" | js | safe }}
  {% endif %}
{% endset %}

{% if not (js | isEmptyString) %}
  <script>
    {{ js | jsmin | safe }}
  </script>
{% endif %}

<script src="/ql.v1.js"></script>
<script>
  quicklink.listen({
    throttle: 6,
    ignores: [/\/all\/\?tag=/]
  })
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-7FSY0XHD72"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag(){dataLayer.push(arguments)}
  gtag('js', new Date())
  gtag('config', 'G-7FSY0XHD72')
</script>