<script>
  {% if env %}
  if('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js')
  {% endif %}
  document.documentElement.style.setProperty('--width', window.innerWidth)
  document.documentElement.style.setProperty('--height', window.innerHeight)
  window.addEventListener('resize', () => {
    document.documentElement.style.setProperty('--width', window.innerWidth)
    document.documentElement.style.setProperty('--height', window.innerHeight)
  })
</script>
<script defer data-domain="jesor.me" src="/js/script.js"></script>