<script>
  {% if env %}
  if('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js')
  {% endif %}
  document.documentElement.style.setProperty('--width', window.innerWidth)
  document.documentElement.style.setProperty('--height', window.innerHeight)
  window.addEventListener('resize', () => {
    document.documentElement.style.setProperty('--width', window.innerWidth)
    document.documentElement.style.setProperty('--height', window.innerHeight)
  })
</script>
<script async defer data-website-id="eab48450-0fd6-409e-b629-a407f18c252f" src="https://umami.shinlog.me/umami.js"></script>
