{% if title %}
  {% set pageTitle = title + " | " + metadata.title %}
{% endif %}

{% if page.url == "/" %}
  {% set pageTitle = metadata.title + " | " + metadata.description %}
{% endif %}

{% set regExp = r/\/page\/\d+\/$/ %}
{% if regExp.test(page.url) %}
  {% set pageTitle = title %}
{% endif %}

<title>{{ pageTitle }}</title>
<meta name="author" content="{{ metadata.author }}">
<meta name="description" content="{{ (excerpt or metadata.description) | markdown | striptags }}">

<meta name="twitter:card" content="{{ "summary_large_image" if image else "summary" }}" />
<meta name="twitter:site" content="{{ metadata.twitter }}" />
<meta name="twitter:creator" content="{{ metadata.twitter }}" />

<meta property="og:url" content="{{ metadata.url }}{{ page.url }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:description" content="{{ (excerpt or metadata.description) | markdown | striptags }}" />
<meta property="og:image" content="{{ image if image else metadata.url + '/favicon-32.png' }}">

<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
    
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
<link rel="icon" href="/favicon.ico">

<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="/feed.xml">