---
layout: base.njk
permalink: /all/
---

<ol class="taglist tag-page">
  <li class="button tag-all">
    <button href="/all/">Show All<span>{{ collections.posts.length }}</span></button>
  </li>
  {% for tag, num, level in (collections.posts | tags) %}
  <li class="button tag-{{ level }}" data-tag="{{ tag }}">
    <button href="/all/?tag={{ tag }}">{{ tag }}<span>{{ num }}</span></button>
  </li>
  {% endfor %}
</ol>

{% for year, posts in collections.postsByYear %}
<section class="postlist">
  <h2>{{ year }}</h2>
  <ol>
    {% for post in posts %}
    <li data-tags="{{ post.data.tags.join(' ') }}">
      <time datetime={{ post.data.page.date | dateString}}>{{ post.data.page.date | shortDate }}</time>
      <a href={{ post.data.page.url }}>{{ post.data.title }}</a>
    </li>
    {% endfor %}
  </ol>
</section>
{% endfor %}