article {
  h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    color: #111;
  }
  
  h2 {
    border: 0 solid #e6e6e6;
    border-bottom-width: 1px;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    color: #111;
  }
  
  h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    color: #111;
  }
  
  h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
  }
  
  h5 {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    font-size: 1rem;
  }
  
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    color: #{$text-color-secondary};
  }
  
  p {
    font-size: 1rem;
  }
  
  a {
    color: #{$color-accent};
  }
  
  hr {
    margin: 1.2rem 0;
    border: none;
    border-top: 1px solid #e6e6e6;
  }
  
  ol, ul {
    padding: 0;
    margin: 1.2rem 0;
    margin-left: 1.5rem;
  }
}

blockquote {
  padding-left: 1rem;
  margin: 1.2rem 0;
  border: 0 solid #cccccc;
  border-left-width: 4px;
  color: #{$text-color-secondary};
  p {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
}

main > hr {
  margin-top: 2.4rem;
  border: none;
  border-top: 1px solid #e6e6e6;
}

.related {
  display: grid;
  grid-template: "next previous" 1fr / 1fr 1fr;
  gap: 1rem;
}

.next, .previous {
  display: flex;
  flex-direction: column;
  color: #{$text-color};
  span:first-child {
    color: #{$text-color-secondary};
  }
  &:hover {
    color: #{$text-color-secondary};
  }
}

.next {
  grid-area: next;
}

.previous {
  grid-area: previous;
  text-align: right;
}

.toc { display: none; }

@media screen and (min-width: 1024px) {
  .has-toc {
    header nav {
      max-width: 1070px;
    }
    
    main {
      max-width: 1070px;
      position: relative;
      padding-right: calc(1070px - 850px + 2rem);
    }
  }
  
  .toc {
    display: block;
    width: calc(220px);
    position: absolute;
    padding: 1.5rem;
    padding-right: 0;
    top: 0;
    right: 2rem;
    height: 100%;
    
    ol {
      list-style: none;
      margin: 0.5rem 0;
      padding: 0;
      position: sticky;
      top: 1.5rem;
    }
    
    .h2 {
      margin-top: .6rem;
    }
    
    a {
      color: #111;
      font-size: 0.9rem;
      padding: 0.2rem 1rem;
      border-radius: 0.4rem;
      display: inline-block;
      text-decoration: none;
      transition: background-color .8s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    
    .h3 {
      padding-left: 1.5rem;
      a {
        color: #333;
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
    
    .toc-active {
      background-color: rgba(0, 0, 0, 0.05);
      color: #{$color-accent};
    }
  }
}