<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://analytics.shinlog.me">
    
    {% include "components/meta.njk" %}
    
    <link as="style" href={{ "/style.css" | cssHash }} rel="preload">
    {% if image %}
      <link rel="preload" as="image" href="{{ image }}" imagesizes="(max-width: 850px) 100vw, 820px">
    {% endif %}
    <link rel="stylesheet" href={{ "/style.css" | cssHash }} type="text/css">

    {% include "components/js-head.njk" %}
  </head>
  <body>
    {% include "components/header.njk" %}
    
    <main>
      {{ content | safe }}
    </main>
    
    {% include "components/footer.njk" %}
    
    {% include "components/js-body.njk" %}
  </body>
</html>
